<template>
  <div class="container">
    <h1>Detalle del post</h1>
    <div v-if="post">
      <div>
        <span>Body: </span>
        <span>{{ post.body }}</span>
      </div>
      <div v-if="post.author">
        <span>Author: </span>
        <span>{{ post.author.login }}</span>
      </div>
      <div v-if="post.tags.length > 0">
        <span>Tags: </span>
        <span>{{ post.tags.map((t) => t.name).join(", ") }}</span>
      </div>
      <div>
        <span>Fecha: </span>
        <span>{{ post.timestamp.toLocaleString() }}</span>
      </div>
    </div>
    <PostCard
      v-if="post"
      :post="post"
      :showDetailsButton="false"
      class="m-auto"
    ></PostCard>
  </div>
</template>

<script>
import PostRepository from "../repositories/PostRepository";
import PostCard from "./PostCard.vue";

export default {
  components: { PostCard },
  data() {
    return {
      post: null,
    };
  },
  async mounted() {
    this.post = await PostRepository.findOne(this.$route.params.postId);
  },
};
</script>
