<template>
  <div class="card" style="width: 18rem">
    <img :src="getImageSrc()" class="card-img-top" alt="Imagen del post" />
    <div class="card-body">
      <h6 class="card-subtitle mb-2 text-muted">
        <router-link class="card-link" :to="'/authors/' + post.author.login">
          {{ post.author.login }}
        </router-link>
      </h6>
      <p class="card-text">
        {{ post.body }}
      </p>
      <p class="card-text">
        {{ post.timestamp.toLocaleDateString() }} -
        {{ post.timestamp.toLocaleTimeString() }}
      </p>
      <h6 class="card-subtitle mb-2 text-muted">{{ tagsAsString }}</h6>

      <router-link
        v-if="showDetailsButton"
        class="btn btn-primary"
        :to="'/posts/' + post.id"
      >
        details
      </router-link>
      <router-link
        v-if="canEdit"
        class="btn btn-info ml-2"
        :to="'/posts/' + post.id + '/edit'"
      >
        edit
      </router-link>
    </div>
  </div>
</template>

<script>
import { getStore } from "../common/store";

export default {
  props: {
    post: {
      type: Object,
      required: true,
    },
    showDetailsButton: {
      type: Boolean,
      default: true,
    },
  },
  computed: {
    tagsAsString() {
      return this.post?.tags.map((t) => t.name).join(", ");
    },
    canEdit() {
      const limit = new Date(this.post.timestamp);
      limit.setMinutes(limit.getMinutes() + 30);
      return (
        this.post?.author.login == getStore().state.user.login &&
        limit > new Date()
      );
    },
  },
  methods: {
    getImageSrc() {
      return "/placeholder.png";
    },
  },
};
</script>

<style scoped>
h6::after {
  content: "\00a0 ";
}
</style>
