<template>
  <div class="container">
    <form>
      <div class="form-group">
        <label for="body">Mensaje</label>
        <textarea
          class="form-control"
          id="body"
          rows="3"
          v-model="post.body"
        ></textarea>
      </div>
      <div class="form-group mt-4">
        <label for="tag">Tags</label>
        <select multiple class="form-control" id="tag" v-model="post.tags">
          <option
            v-for="tag in tags"
            :key="tag.id"
            :value="tag"
            class="underlined"
            :style="'text-decoration-color: ' + tag.color + ';'"
          >
            {{ tag.name }}
          </option>
        </select>
      </div>
      <button
        type="submit"
        class="btn btn-primary mt-4"
        @click.prevent="crear()"
      >
        Enviar
      </button>
    </form>
  </div>
</template>

<script>
import PostRepository from "@/repositories/PostRepository";
import TagRepository from "../repositories/TagRepository";

export default {
  data() {
    return {
      post: {
        tags: [],
      },
      tags: [],
    };
  },
  async mounted() {
    this.tags = await TagRepository.findAll();
    if (this.$route.params.postId) {
      this.post = await PostRepository.findOne(this.$route.params.postId);
    }
  },
  methods: {
    async crear() {
      try {
        const post = await PostRepository.save(this.post);
        this.$router.push("/posts/" + post.id);
      } catch (e) {
        console.error(e);
        alert("Se ha producido un error");
      }
    },
  },
};
</script>

<style scoped>
.underlined {
  text-decoration: underline;
}
</style>
